*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins','sans-serif';
}
body{
    background: black;
}

.main{
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.55;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-family: 'Martel sans','sans-serif';
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 23px;
    position: relative;
    padding: 30px;
}
.font{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.font1{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.font2{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.sepration{
    height: 6px;
    background-color: rgb(46,44,44);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(248,243,243,0.021);
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid white;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 25px;
    font-size: 20px;
    border-radius: 6px;
    font-weight: 500;
    
}
.btn-red-sm{
    background: red;
    color: white;
    
}
.main input{
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgba(23,23,23,0.2);
    color: white
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.sec img img{
    position: relative;
}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 39vw;
    right:10vw;
    z-index: 9;
    width: 320px;
    padding-right: 100px;
    overflow: hidden;
}